/* reset browser css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    line-height_ 1.7em;
}
a {
    color: #555;
    text-decoration: none;
}
h1 {
    padding-bottom: 20px;
}
/* navbar */
#navbar {
    background: #555;
    color: #fff;
    overflow: auto;
}
#navbar a {
    color:#fff;
}
#navbar ul {
    float: right;
    list-style: none;
}
#navbar ul li {
    float: left;
}